@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import 'mixins';

.heroSection{
    width: 100%;
    background-image: linear-gradient(to bottom left, #1173EF , #11B6EF);
    overflow-y: hidden;
    border: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo{
    width: 50%;
    font-family: 'Fleur De Leah', cursive;
    font-size: 2.5rem;
}

.socialLinks{
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.headerContents{
    display: grid;
    align-items: center;
    width: 100%;
    margin-top: 2rem;

    @include mediaQuery(790px){
        grid-template-columns: 1fr 1fr;
        height: initial;
    }

    .heroImg{
        width: 100%;
        display: flex;
        justify-content: center;

        img{
            width: 100%;
        }
    }
}

.headerContent{
    h1{
        font-size: 2rem;
        margin-bottom: 2rem;

        @include mediaQuery(720px){
            font-size: 3rem;
        }
    }

    p{
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 2px;
    }

    a{
        display: inline-block;
        padding: .5rem 1.5rem;
        margin: 1rem 0;
        font-size: 1rem;
        background-color: #F2F2F2;
        color: #000;
        border: none;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        letter-spacing: 1px;

        &:hover{
            color: #f2f2f2;
            background-color: #1173EF;
        }
    }
}

