@import 'mixins';

.projectsSection{
    position: relative;
    padding: 3rem 0;
    background-image: linear-gradient(to bottom left, #1173EF , #11B6EF);
}

.projectsHeaders{
    position: relative;
    margin: 2rem 0;

    h3{
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 7rem;
        font-size: 1.8rem;
    }
}

.projectsCards{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    width: 100%;
}

.projectCard{
    position: relative;
    border-radius: 10px;
    border: 1px solid #1173EF;
    height: 27rem;
    cursor: pointer;
    overflow: hidden;

    img{
        width: 100%;
        height: 180px;
    }

    .cardContent{
        position: relative;
        padding: 1rem;

        h1{
            font-size: 1.3rem;
        }

        p{
            font-size: .9rem;
            margin-bottom: 2rem;
        }

    }
}


.moreProjects{
    display: flex;
    align-items: center;
    margin-top: 5rem;
}