@import 'mixins';

.projectsSection{
    position: relative;
    padding: 3rem 0;
    background-image: linear-gradient(to bottom left, #1173EF , #11B6EF);
}

.projectsHeaders{
    position: relative;
    margin: 2rem 0;

    h3{
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 7rem;
        font-size: 1.8rem;
    }
}

.projectsCards{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    width: 100%;
}

.projectCard{
    position: relative;
    display: flex;
    align-items: flex-end;
    background-color: red;
    border-radius: 10px;
    padding: 1rem;
    object-fit: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 25rem;
    cursor: pointer;
    overflow: hidden;

    img{
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .cardContent{
        z-index: 1;

        .overlay{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-image: linear-gradient(to bottom left, transparent , #000000);
            opacity: 1;
            z-index: -1;

            @include mediaQuery(992px){
                top: 100%;
            }
        }

        h1{
            font-size: 1.3rem;
            
            @include mediaQuery(992px){
                color: transparent;
            }
        }

        p{
            font-size: 0.8rem;

            @include mediaQuery(992px){
                color: transparent;
            }
        }
    }
}

@include mediaQuery(992px){
    .projectCard:hover .overlay{
        top: 0;
        transition: 250ms ease-in;
    }
    
    .projectCard:hover .overlay, .projectCard:hover h1, .projectCard:hover p{
        color: #f2f2f2;
        transition: 250ms ease-in;
    }
}

.moreProjects{
    display: flex;
    align-items: center;
    margin-top: 5rem;
}